<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
	
	<li><%= link_to "Blog", root_path %></li>
	<li><%= link_to "product" %></li>

  <div class="pull-right user-info">
	  <% if current_user %>
        hello <%= current_user.username %>!
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Sign up", signup_path %> 
        <%= link_to "Log in", login_path  %>
    <% end %>
  </div>
</ul>
     <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>

<%= yield %>
</div>

</body>
</html>
