<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
	<li class="active"><a href="#">Home</a></li>
	<li><%= link_to "Blog", root_path %></li>
	<li><%= link_to "product" %></li>
</ul>

<%= yield %>
</div>

</body>
</html>
